.pageTestSeed {
    display: grid;
    grid-template-rows: 100px 1fr 200px;
    text-align: center;
}

.textArea {
    text-align: center;
    margin: 30px auto 50px auto;
    font-size: 1.2rem;
    max-width: 650px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 2px solid #212529;
    border-radius: 3px;
    width: 86%;
}

.textTest {
    box-sizing:border-box;
    display: inline;
    text-align: center;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    border-radius: 3px;
    border: 2px solid cornflowerblue;
}

.inputTextArea {
    text-align: center;
    font-size: 1.39rem;
}

.speedTestButtons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 1rem;
    margin: 10px auto;
    text-align: center;
    grid-gap: 10px;
    width: 90%;
}

.buttonNewText {
    background-color: #4CAF50;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    color: white;
}

.buttonStart {
    background-color: #4CAF50;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    color: white;

}

.buttonStop {
    background-color: #008CBA;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    color: white;
}

.buttonReset {
    background-color: red;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    color: white;
}

.buttonStart[disabled] {
    opacity: 0.5;
}

.buttonStop[disabled] {
    opacity: 0.5;
}

.settingsBlock {
    display: block;
}