<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/plusMinus.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Smarty Games</title>
</head>

<body id="grid">
<header id="pageHeader">
    <a class="logo" href="index.html">  <img src="resourses/logoHeader.png" alt="логотип" height="100" ></a>
    <div class="menu">
        <div><a href="index.html" class="menu-item isActive">Главная</a></div>
        <div><a href="about.html" class="menu-item">О проекте</a></div>
        <div><a href="contacts.html" class="menu-item">Контакты</a></div>
    </div>
</header>

<div class="pagePlusMinus" id="app">
    <div class="settings">
        <div>
            <label class="label" for="speed" >интервал:</label>
            <input  id="speed" class="inputSettings" type="number" min="0" v-model="speed" :disabled="disabledExample">
        </div>
        <div>
            <label class="label" for="length">длина:</label>
            <input id="length" class="inputSettings" type="number" min="2" v-model="lengthExample" :disabled="disabledExample"/>
        </div>
        <div>
            <label class="label" for="numberFor">числа:</label>
            <input id="numberFor" class="inputSettings" type="number" v-model="numberFor" :disabled="disabledExample"/>
        </div>
    </div>
    <div class="number" :style="{'color': colorStyle}">{{number}}</div>
    <input type="number" class="form" v-model="answer" :disabled="disabledAnswer" v-on:keyup.enter="answerO"  placeholder="введите ответ">
  <!--  <p>Сумма: {{sum}}
    <p>Средняя скорость: {{averageSpeed}}
    <p>Сумма скоростей: {{speedCounter}}
    <p>Правильно: {{exampleCounter}}
    <p>Средняя длина: {{averageLengthExample}} -->

    <div class="buttons">
        <button v-on:click="answerO" class="buttonAnswer" id="buttonA" :disabled="disabledAnswer">Ответить</button>
        <button v-on:click="newExample" class="buttonExample" :disabled="disabledExample">Новый пример</button>
    </div>
</div>



<footer id="pageFooter">Copyright @ <a href="" class="menu-item">Smarty-Games.ru</a></footer>

<script src="js/plusAndMinus.js"></script>
</body>
</html>