.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-item {
    width: calc(13%);
    border: 2px solid white;
    border-radius: 10px !important;
    background-color: var(--nav-link-color);
    margin: 3px;
    text-align: center;

}

.nav-item:hover  {
    background-color: var(--nav-link-color-hover);

}

.nav-link {
    display: block;
    color: var(--nav-link-text-color);
    text-decoration: none;
    font-weight: bold;
    margin: 3px;
    font-size: 20px;
}

.nav-link:hover {
    color: var(--nav-link-text-color);
}

.active {
    background-color: var(--nav-link-color-hover);
}